body {
  padding: 0;
}
.navbar {
  margin: 0;
}
textarea {
  resize: none !important;
}
@media print {
  body {
    padding-top: 0px;
  }
  body #mensajes {
    display: none;
  }
}
#ingresoBtn {
  margin-top: 17px;
}
[tooltip] {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.form-danger {
  background: none;
}
.form-danger label {
  color: #a94442;
}
.form-danger .form-control {
  border: 2px solid #a94442 !important;
}
.form-danger .input-group-btn .btn,
.form-danger .input-group-addon {
  color: #a94442 !important;
}
#main-container {
  background-color: #FFF;
}
#main-container #alert-box {
  margin-top: 20px;
}
#main-container .input-group-btn button {
  background-color: #EBF1F1;
  border-color: #EBF1F1;
}
#main-container select.form-control {
  background-color: #EBF1F1;
  border-color: #EBF1F1;
}
@media print {
  #main-container .stepwizard {
    display: none;
  }
}
.navbar .navbar-brand {
  width: 300px;
}
.navbar li a {
  font-size: 17px;
}
.navbar #menu_usuario {
  padding: 15px 15px;
}
/* FORMULARIO VER */
#ver-formulario th {
  text-transform: uppercase;
  text-align: center;
}
#ver-formulario td {
  text-align: center;
}
#ver-formulario h4,
#ver-formulario h5 {
  font-weight: bold;
}
@media print {
  #ver-formulario #tabpanel,
  #ver-formulario #historial-table {
    display: none;
  }
  #ver-formulario a,
  #ver-formulario button,
  #ver-formulario .alert {
    display: none;
  }
  #ver-formulario span.badge {
    color: #000;
    border: 1px solid #000;
  }
  #ver-formulario table.table {
    font-size: 10px;
    border-collapse: collapse !important;
  }
  #ver-formulario table.table-bordered > tbody > tr > td,
  #ver-formulario table.table-bordered > tbody > tr > th,
  #ver-formulario table.table-bordered > thead > tr > td,
  #ver-formulario table.table-bordered > thead > tr > th {
    border: 1px solid #000 !important;
    border-width: 1px !important;
    padding: 5px;
  }
  #ver-formulario h3 {
    font-size: 16px;
  }
  #ver-formulario h4 {
    font-size: 14px;
  }
  #ver-formulario h5 {
    font-size: 12px;
  }
}
#main-container-public {
  background-color: #006CB7;
}
#main-container-public #content-container {
  background-image: url('../img/dpi-bg.png');
  background-repeat: no-repeat;
  background-position: right 60px;
  min-height: 500px;
  color: #fff;
}
#main-container-public #content-container h1 {
  color: #FFF;
}
#main-container-public #content-container .nav-tabs > li a {
  color: #FFF;
}
#main-container-public #content-container .nav-tabs > li.active a {
  color: #555;
}
#main-container-public p,
#main-container-public li {
  text-align: justify;
  font-size: 17px;
}
#main-container-public .table-container {
  background-color: #FFF;
  color: #006CB7;
}
#main-container-public .table-container table {
  border-color: #006CB7;
}
#main-container-public #ver-formulario {
  background-color: #FFF;
  color: #006CB7;
}
#main-container-public #ver-formulario table {
  border-color: #006CB7;
}
#main-container-public #ver-formulario li {
  font-size: 14px;
}
.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}
.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
#submit-container .text-danger {
  margin-right: 10px;
}
form.ng-dirty #summary-view {
  display: none;
}
.front-title {
  margin-top: 0px;
}
.page-header {
  border-bottom: none;
}
#gestion h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
